.markdown > h1:first-child {
  font-weight: 200;
}
.markdown > h1 > strong {
  font-weight: bold;
  color: #4F46E5;
  white-space: nowrap;
}

.markdown > h1 > em {
  font-style: normal;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  white-space: nowrap;
}

.markdown thead {
  display: none;
}

/* .markdown > h1 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.markdown > h1:first-child {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-weight: 200;
  font-size: 2.5rem;
  line-height: 3rem;
  margin-bottom: 2rem;
}
.markdown > h1 > strong {
  font-weight: bold;
  color: #4F46E5;
  white-space: nowrap;
}

.SingleBlock {
  padding: 0 1rem 2rem 1rem;
  background-color: white;
}

body {
  background-color: #F3F4F6;
} */
