.plot-single.plot-style-normal {
  z-index: 1;
  max-width: 40rem;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border-left: 1px solid #F3F4F6;
  border-right: 1px solid #F3F4F6;
  padding-right: 1rem;
  padding-left: 1rem;
}
.markdown > h1:first-child {
  font-weight: 200;
}
.bold { font-weight: bold; }
.blue { color: #4F46E5; }
.nowrape { white-space: nowrap; }

.brand {
  font-style: normal;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  white-space: nowrap;
}

.markdown thead {
  display: none;
}

.hero {
  padding: .5rem .5rem;
  display: inline-block;
  background-color: #4F46E5;
  color: white;
}

/* Cards */
body { position: relative; }
.wail {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 500;
  background-color: #000;
  opacity: .5;
}
.pane {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  /* background-color: white; */
  min-height: 100vh;
}
.pane .card {
  position: absolute;
  max-height: 200px;
  max-width: 200px;
  /* line-height: 200px; */
  /* text-align: center; */
  /* padding: 4px; */
  background: white;
  border-radius: 5px;
}
.pane .card img {
  padding: 4px;
  border: 1px solid #D1D5DB;
  max-width:190px;
  max-height:190px;
  /* vertical-align: middle; */
  border-radius: 5px;
}