<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>pl0t</title>

  <link rel="icon" type="image/png" href="http://files.pl0t.com/view/favicon.ico">

  <!-- PL0T begin -->
  <script>
    window.env = {
      base_url: "http://files.pl0t.com/view"
    }
  </script>
  <link rel="stylesheet" href="http://files.pl0t.com/view/build/bundle.aaadb3.css">
  <script src="http://files.pl0t.com/view/build/bundle.6e20a0.js"></script>
  <script>
    window.addEventListener('DOMContentLoaded', () => window.plot_api.run())
  </script>
  <!-- PL0T end -->
</head>
<body>
</body>
</html>
