<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>pl0t</title>

  <link rel="icon" type="image/png" href="http://files.pl0t.com/view/favicon.ico">
  <link rel="stylesheet" href="http://files.pl0t.com/view/build/bundle.css">

  <script>
    window.env = {
      base_url: "http://files.pl0t.com/view"
    }
  </script>
  <script defer src="http://files.pl0t.com/view/build/bundle.js"></script>
</head>
<body>
</body>
</html>
